<footer class="footer pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 foo-lists">
          <img src="img/logo-edustore.png" class="img-fluid" draggable="false">
          <p class="my-4 text-dark font-weight-bold"><q>Semua Bisa Pintar</q></p>
          <p class="mb-4 text-dark">Copyright &copy; 2019</p>
          <div class="sosmed">
            <a href="javascript:void(0);">
              <span class="mr-2"><img src="img/instagram.png" class="img-fluid" draggable="false"></span>
            </a>
            <a href="javascript:void(0);">
              <span class="mr-2"><img src="img/line.png" class="img-fluid" draggable="false"></span>
            </a>
            <a href="javascript:void(0);">
              <span class="mr-2"><img src="img/twitter.png" class="img-fluid" draggable="false"></span>
            </a>
            <a href="javascript:void(0);">
              <span class="mr-2"><img src="img/facebook.png" class="img-fluid" draggable="false"></span>
            </a>
            <a href="javascript:void(0);">
              <span class="mr-2"><img src="img/youtube.png" class="img-fluid" draggable="false"></span>
            </a>
          </div>
      </div>
      <div class="col-md-4 mb-4 foo-lists pl-5 pr-5">
        <div class="text-center mt-4">
          <p class="text-dark font-weight-bold"><b>Masukan emailmu dan dapatkan <br> info-info menarik</b></p>
          <form action="">
            <div class="form-group">
              <input type="text" name="" id="" class="form-control" placeholder="Masukan email">
            </div>
            <button type="submit" class="btn btn-warning btn-block">Kirim</button>
          </form>
        </div>
      </div>
      <div class="col-md-4 mb-4 foo-lists">
        <div class="row">
          <div class="col-sm-6 mb-4">
            <p class="mb-1"><b>Menu</b></p>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pl-0" href="index.html">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="javascript:void(0);">Produk</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pl-0" href="javascript:void(0);">Langganan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="javascript:void(0);">Akun</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 mb-4 mb-4">
            <p class="mb-1"><b>Bantuan</b></p>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pl-0" href="javascript:void(0);">Cara Pakai</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="javascript:void(0);">Kritik & Saran</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="javascript:void(0);">Tanya Jawab</a>
              </li>
            </ul>
          </div>
        </div>
        <p class="mt-4"><b>Download Edutore Mobile App</b></p>
        <a href="javascript:void(0);"><span><img src="img/Play-Store-Logo-2.png"></span></a>
        <a href="javascript:void(0);"><span><img src="img/app_store.png"></span></a>
      </div>
    </div>
    <div class="d-flex border-top py-3 justify-content-between">
      <small><a class="nav-link active" href="javascript:void(0);">Tentang Kami</a></small>
      <ul class="d-flex justify-content-between mx-2 mb-0">
        <li><a class="nav-link" href="javascript:void(0);">Syarat dan Ketentuan</a></li>
        <li><a class="nav-link" href="javascript:void(0);">Hak Cipta</a></li>
        <li><a class="nav-link" href="javascript:void(0);">Kebijakan Privasi</a></li>
        <li><a class="nav-link" href="javascript:void(0);">Peta Situs</a></li>
        <li><a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#form-lapor-masalah">Laporkan Masalah</a></li>
        <div class="modal fade" id="form-lapor-masalah" tabindex="-1" role="dialog" aria-labelledby="formLaporMasalah" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <!-- content modal masalah -->
                <div class="laporkan-masalah">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3>Menemukan masalah?</h3>
                  <h3>Kirim keluhanmu, Eduteam akan segera meninjaunya</h3>
                  <form action="javascript:void(0);" method="POST" class="frm-masalah" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col">
                        <label for="nama">Nama<span class="merah">*</span></label>
                        <input type="text" class="form-control" name="nama">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="Email">Email<span class="merah">*</span></label>
                        <input type="text" class="form-control" name="Email">
                      </div>
                      <div class="col-md-6">
                        <label for="hp">No. Hp</label>
                        <input type="text" class="form-control" name="hp">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="nama">Judul<span class="merah">*</span></label>
                        <input type="text" class="form-control" name="Judul">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="nama">Isi Pesan<span class="merah">*</span></label>
                        <textarea name="pesan" id="pesan" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button class="unggah-masalah">Unggah Gambar</button>
                        <div class="small">Unggah gambar/screenshot terkait masalah yang dilaporkan. Format gambar: .jpg, .jpeg, .png, (max 3 MB).<span class="merah">*</span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn__kirim-laporan" data-toggle="modal" data-target="#kirim-masalah__sukses" href="#msg-pesan__sukses">Kirim Laporan</button>
                      </div>
                      <div class="modal fade" id="kirim-masalah__sukses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content modal-content__masalah">
                            <div class="modal-header text-center">
                              <h5 class="modal-title" id="exampleModalLongTitle">Terima Kasih!</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body text-center">
                              Eduteam akan segera meninjau <br> masukan darimu.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
      <ul class="d-flex justify-content-between mb-0">
        <li><a class="nav-link text-info" href="javascript:void(0);">Bahasa Indonesia</a></li>
        <li><a class="nav-link" href="javascript:void(0);">English</a></li>
      </ul>
    </div>
  </div>
</footer>
