<!-- navbar desktop -->
<nav class="navbar bg-white navbar-expand-lg navbar-light is-desktop fixed-top">
  <div class="container align-items-center">
    <a class="navbar-brand" href="javascript:void(0);"><img src="img/logo-edustore.png" class="img-fluid" draggable="false"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-top-item">
          <a class="nav-link" href="index.html">Beranda</a>
        </li>
        <li class="nav-item nav-top-item dropdown">
          <a class="nav-link" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produk</a>
          <div class="dropdown-menu dropdown-menu-right produk-drop" aria-labelledby="navbarDropdown">
            <div class="row">
              <div class="col-md-4">
                <img src="img/edutest.png" class="img-fluid" draggable="false" draggable="false">
                <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet neque</p>
                <a href="javascript:void(0);" class="link-underline">Selengkapnya</a>
              </div>
              <div class="col-md-4">
                <img src="img/eduplace.png" class="img-fluid" draggable="false">
                <p class="mb-1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet neque</p>
                <a href="javascript:void(0);" class="link-underline">Selengkapnya</a>
              </div>
              <div class="col-md-4">
                <img src="img/edutopics.png" class="img-fluid" draggable="false">
                <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet neque</p>
                <a href="javascript:void(0);" class="link-underline">Selengkapnya</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item nav-top-item">
          <a class="nav-link" href="langganan.html">Langganan</a>
        </li>
        <li class="nav-item nav-top-item dropdown">
          <a class="nav-link" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Akun</a>
          <div class="dropdown-menu dropdown-menu-right text-center pb-2" aria-labelledby="navbarDropdown">
            <div class="p-4">
              <div class="nav-akun mb-3">
                <img src="img/Layer-21.png" class="img-fluid" draggable="false">
              </div>
              <div class="text-center mb-3">
                <p class="mb-0">Budi Budiman</p>
                <small>Beginner</small>
              </div>
              <a href="javascript:void(0);" class="btn btn-primary btn-sm btn-block">Lihat Akun Saya</a>
              <a href="javascript:void(0);" class="btn btn-primary btn-sm btn-block">Ubah & Lihat Data Profil</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0);">Keluar <i class="fas fa-sign-out-alt"></i></a>
          </div>
        </li>
        <li class="nav-item nav-top-item item-search pr-2">
          <a class="nav-link" href="javascript:void(0);" id="search-btns"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item nav-top-item search-item">
          <form action="" method="get">
            <div class="input-group search">
              <div class="input-group-prepend">
                <div class="search-icos">
                  <i class="fas fa-search"></i>
                </div>
              </div>
                <input type="text" class="form-control" placeholder="Pencarian" aria-label="Pencarian" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <div class="dropdown">
                    <a class="btn btn-cate dropdown-toggle" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Semua Kategori
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="javascript:void(0);">Semua Kategori</a>
                      <a class="dropdown-item" href="javascript:void(0);">Penulis</a>
                      <a class="dropdown-item" href="javascript:void(0);">Sekolah</a>
                      <a class="dropdown-item" href="javascript:void(0);">Penerbit</a>
                      <a class="dropdown-item" href="javascript:void(0);">Modul</a>
                      <a class="dropdown-item" href="javascript:void(0);">Buku</a>
                      <a class="dropdown-item" href="javascript:void(0);">Video</a>
                    </div>
                  </div>
                <button type="submit" class="btn-search"><i class="fas fa-arrow-right"></i></button>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar desktop -->
<!-- Navbar Mobile -->
<div class="is-mobile">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="navbar-brand" href="javascript:void(0);"><img src="img/logo-edustore.png" class="img-fluid" draggable="false"></a>
      </div>
      <div class="col-8">
        <div class="mobile-menu">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="left-menu">
          <span class="close-left"><i class="fas fa-times"></i></span>
          <a class="navbar-brand" href="javascript:void(0);"><img src="img/logo-edustore.png" class="img-fluid" draggable="false"></a>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#product-modal">Produk</a>
              <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="row mt-4 text-center">
                        <div class="col-md-4 mb-4">
                          <img src="img/edutest.png" class="img-fluid" draggable="false">
                          <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet neque</p>
                          <a href="javascript:void(0);" class="link-underline">Selengkapnya</a>
                        </div>
                        <div class="col-md-4 mb-4">
                          <img src="img/eduplace.png" class="img-fluid" draggable="false">
                          <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet neque</p>
                          <a href="javascript:void(0);" class="link-underline">Selengkapnya</a>
                        </div>
                        <div class="col-md-4 mb-4">
                          <img src="img/edutopics.png" class="img-fluid" draggable="false">
                          <p class="mb-1">Lrem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet nequee/p>
                          <a href="javascript:void(0);" class="link-underline">Selengkapnya</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="langganan.html">Langganan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Akun</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of navbar mobile -->
