/*general css*/
* {
  list-style-type: none;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html, body {
  /* height: 100%; */
  /* width: 100%; */
  overflow-x: hidden;
}
body {
  background-color: #ECECEC;
}
nav .nav-link, aside .nav-link, footer .nav-link {
  transition: all 250ms;
  font-weight: 600;
  color: rgb(98, 98, 98);
  font-size: 16px;
}
#psyb_page .carousel-control-prev {
  left: -45px !important;
}
.no-underline:hover {
  text-decoration: none !important;
}
.mymodal {
  transition: all 400ms;
  border-radius: 7px 7px 7px 0;
  padding: 10px 15px;
  cursor: default;
  background-color: white;
  position: absolute;
  left: 0%;
  width: 250%;
  top: 0;
  transform: translateY(-25%) scale(0.8);
  border: 1px solid #CCCCCC;
  z-index: 1;
  box-shadow: 0 0px 15px rgba(19, 19, 19, 0.38);
  opacity: 0;
  visibility: hidden;
}
.mymodal::after {
  content: '';
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 0;
  left: 0px;
  transform: translateY(100%);
  border-style: solid;
  border-width: 17px 17px 0 17px;
  border-color: #fff transparent transparent transparent;
}
.mymodal h3 {
  line-height: 35px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}
.mymodal h3 span {
  height: 20px;
  padding: 3px 10px;
  font-weight: bold;
  color: #547DBA;
  border-radius: 19px;
  border: 1.4px solid #547DBA;
}
.mymodal p {
  margin-bottom: 5px;
  text-align: left;
  color: #000000;
}
.mymodal p span {
  color: #545454 !important;
}
.show_modal {
  opacity: 1 !important;
  visibility: visible !important;
}
.page-item.active .page-link {
  background-color: inherit !important;
  color: #FEC810;
  text-decoration: underline !important;
  border: 1px solid #dee2e6 !important;
}
.carousel-control-prev, .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  transition: all 250ms;
  width: 40px !important;
  opacity: 1 !important;
  background-color: white !important;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.3);
  height: 40px !important;
  border-radius: 50% !important;
}
.text-purple {
  color: #7D2B7F;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4);
}
#psyb_page .carousel-control-next {
  right: -45px !important;
}
.iklan {
  overflow: hidden;
  margin: 3rem 0;
}
.iklan:hover .overlay {
  opacity: 1 !important;
  visibility: visible !important;
}
.iklan-horizontal {
  height: 120px;
}
.iklan-horizontal img {
  transform: translateY(-25px);
  width: 100%;
  height: 100%;
  display: block;
}
footer .nav-link {
  font-size: 16px;
}
footer .nav-link:hover {
  text-decoration: underline;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #7F2C81 !important;
  color: white !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 100%;
  background-color: rgba(175, 175, 175, 0.32);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms;
}
.height-100 {
  height: 100%;
}
#small-nav {
  z-index: 77;
  display: none;
  height: 56px;
  position: fixed;
  width: 100%;
  background-color: #802C82 !important;
  top: 90px;
}
#small-nav .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
#small-nav .container > a:first-child {
  font-size: 30px;
  display: flex;
  align-items: center;
}
#small-nav .container ul {
  display: flex;
  margin-bottom: 0;
}
#small-nav .container ul li {
  position: relative;
  transition: all 250ms;
}
#small-nav .container ul li:hover {
  background-color: #732475;
}
#small-nav .container ul li a {
  padding: 0 15px;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 56px;
}
#small-nav .container ul li img {
  height: 20.84px;
}
#small-nav .container ul li .count-notif {
  position: absolute;
  top: 10px;
  right: 0;
}
/* end of general css */

#psyb_page #slideshow_header {
  min-height: 277px;
}
#psyb_page header {
  padding: 2rem 0;
  position: relative;
}
#psyb_page header #header_top #semua_pintar {
  transition: all 250ms;
  height: 50%;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../../img/semua_pintar.png');
}
#psyb_page header #header_top > div:last-child div:hover {
  background-blend-mode: overlay;
  cursor: pointer;
  background-color: rgba(175, 175, 175, 0.32);
}
#psyb_page header #header_top > div:last-child {
  overflow: hidden;
}
#psyb_page header #header_top .swiper-slide:first-child {
  background-image: url('../../img/eduplace_banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#psyb_page header #header_top #gabung_partner {
  margin-top: 10px;
  overflow: hidden;
  height: 50%;
  border-radius: 12px;
}
#psyb_page header #header_top #gabung_partner > div {
  transition: all 250ms;
  border-radius: 20px;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100% auto;
  background-image: url('../../img/gabung_partner.png');
}
#psyb_page header #overlay_header {
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #7F2C81, #ee1159 80%);
}
#psyb_page header #cari_partner h1 {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 27px;
}
#psyb_page header #cari_partner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-image: url('../../img/cari_partner.png');
  background-position: right;
  background-repeat: no-repeat;
}
#psyb_page header #cari_partner form input {
  padding-right: calc(.75rem + 70px);
  color: #010101;
}
#psyb_page header #cari_partner form input::placeholder {
  color: #AB82AC;
}
#psyb_page header #cari_partner form button {
  color: #802C82;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 10px 10px 0;
  width: 70px;
}
#psyb_page .container .row:first-child > h1:first-child {
  color: #802C82;
  font-weight: bold;
}
#psyb_page aside {
  max-height: calc(70px * 4);
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  border-radius: 6px;
  color: #000000;
}
#psyb_page aside a {
  text-align: center;
  height: 70px;
  line-height: 70px;
  padding: 0 !important;
  display: block;
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
}

#per_psyb_page header #top_per_psyb_header {
  background-repeat: no-repeat;
  height: 300px;
  background-size: calc(100% + 10px) calc(100% + 37px);
  background-position: -5px top;
}
#per_psyb_page header #top_per_psyb_header h1 {
  padding-left: 280px;
}
#per_psyb_page header #bottom_per_psyb_header {
  padding: 10px 0;
  background-color: white;
}
#per_psyb_page header #bottom_per_psyb_header figure {
  margin-top: -80px;
}
#per_psyb_page header #bottom_per_psyb_header figcaption {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#per_psyb_page header #bottom_per_psyb_header figcaption a {
  height: 37px;
  width: 37px;
  background-color: #7F2C81;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#per_psyb_page #bottom_per_psyb_header .ml-auto li span {
  font-size: 39px;
  display: block;
  font-weight: bold;
  color: #802C82;
}
#per_psyb_page #sliderPerPsyb .carousel-control-prev {
  box-shadow: 0 3px 6px rgba(42, 42, 42, 0.2) !important;
  transform: translateY(calc(-50% - 15px));
}
#per_psyb_page #sliderPerPsyb .carousel-control-next {
  box-shadow: 0 3px 6px rgba(42, 42, 42, 0.2) !important;
  right: 50%;
  top: 50%;
  transform: translateY(calc(-50% - 15px)) translateX(-10px);
}
#per_psyb_page .carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #808080;
}
#per_psyb_page .carousel-indicators li.active {
  background-color: #7F2C81;
}
#per_psyb_page .iklan-vertical-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(41, 41, 41);
  font-weight: bold;
  transform: translateY(-50%) translateX(-50%);
}
#per_psyb_page header #fav_psyb {
  text-decoration: none !important;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#per_psyb_page header #fav_psyb:hover input {
  font-weight: bold;
  cursor: pointer;
}
#per_psyb_page header #fav_psyb input {
  color: #fff;
  padding: 0 !important;
  text-decoration: none !important;
  font-size: 25px;
  margin-left: 5px;
}
#per_psyb_page header #fav_psyb input {
  text-decoration: none !important;
}
#per_psyb_page header #fav_psyb img {
  transition: all 150ms;
}
#per_psyb_page article {
  position: relative;
}
#per_psyb_page article figure .preview_book {
  padding-top: 30px;
  position: relative;
}
#per_psyb_page article figure .preview_book img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
#per_psyb_page article figure .preview_book img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
#per_psyb_page article figure .preview_book img:last-child {
  transition: all 250ms;
  position: relative;
  width: 100%;
  height: 252px;
}
#per_psyb_page article figure figcaption div > a input, #per_psyb_page article figure figcaption div > a:last-child {
  transition: all 250ms;
}
#per_psyb_page article figure figcaption div > a:hover {
  text-decoration: none !important;
  cursor: pointer;
}
#per_psyb_page article figure figcaption div > a:first-child img, #per_psyb_page article figure figcaption div > a:last-child img {
  margin-right: 5px;
}
#per_psyb_page article figure figcaption div > a:first-child:hover input, #per_psyb_page article figure figcaption div > a:last-child:hover  {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none !important;
}
#per_psyb_page article:hover figure .preview_book img {
  filter: drop-shadow(1px 1px 4px rgba(27, 27, 27, 0.44));
}
#per_psyb_page article:hover .mymodal {
  opacity: 1;
  visibility: visible;
}
#per_psyb_page main #form_cari #cari_produk {
  background-repeat: no-repeat;
  background-position: .75rem center;
  text-indent: 25px;
  background-image: url('../../img/search.png');
}
#per_psyb_page main #form_cari select {
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  header {
    margin-top: calc(90px + 56px);
  }
  #small-nav {
    display: block;
  }
}
